// reason why I'm assigning a variable to a color is so that i can reuse that variable multiple times instead of having to remember the color every time i need to use it
$home-logo: #eb4c60;

.home-pink-gradient {
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
    background-image: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
}